<!DOCTYPE html>
<html lang="en">
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
   
   <head>
      <title>Wedding</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width,initial-scale=1">
      <title>Romeo weds Juliet</title>
      <!-- favicon icon -->
      <link rel="apple-touch-icon" sizes="180x180" href="http://nvlivestreaming.com/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="http://nvlivestreaming.com/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="http://nvlivestreaming.com/favicon/favicon-16x16.png">
      <link rel="manifest" href="http://nvlivestreaming.com/favicon/site.webmanifest">
      <link rel="mask-icon" href="http://nvlivestreaming.com/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <meta property="og:title" content="nvLiveStreaming" />
      <meta property="og:url" content="http://www.nvlivestreaming.com" />
      <meta property="og:description" content="Watch Live Telecast">
      <meta property="og:image" content="http://nvlivestreaming.com/favicon/300x200.png">
      <link rel="stylesheet" href="assets/css/whatsapp.css">
      
       <!-- Fluidplayer -->
      <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
      
     
      <link href="assets/css/owl-carousel/owl.carousel.css" rel="stylesheet" type="text/css">
      <link href="assets/css/owl-carousel/owl.transitions.css" rel="stylesheet" type="text/css">
      <link href="assets/css/owl-carousel/owl.theme.css" rel="stylesheet" type="text/css">
      <link href="assets/css/vendors/styleswitcher.min.css" rel="stylesheet" type="text/css">
      <link href="assets/css/styles.min.css" rel="stylesheet" type="text/css">
      <link href="assets/css/vendors/flexslider.min.css" rel="stylesheet" type="text/css">
      <link id="theme" href="#" rel="stylesheet" type="text/css">
      <!--[if IE]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
      <style>#map-canvas{
         width:100%;
         height: 515px;
         }
      </style>
   </head>
   <body>
      <!-- Preloader -->
      <div id="preloader">
         <div id="status" class="beatingHeart">
            <div class="heart"></div>
            <div class="heart heart2"></div>
            <div class="heart heart3 pinkHeart"></div>
            <div class="heart heart4 fushiaHeart"></div>
            <div class="heart hear5 pinkHeart"></div>
         </div>
      </div>
      <!--end Preloader -->
      <!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=00919727171113&text=Hello%21%20I%20am%20watching%20live%20<dynamic-event-url>.%20 I%20need%20some%20information." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
<!-- partial -->
     
      <header id="header-bg" class="header-bg">
         <div id="large-header" class="large-header">
            <canvas id="mycanvas"></canvas>
            <div class="wrapper-main-title ha-waypoint">
               <h4 class="main-title">Romeo weds Juliet</h4>
               <h2 class="couple-title-inverse">We are getting married!</h2>
               <h2 class="wed-date" align="center">Dec 30, 2015</h2>
               <h2 class="couple-title-inverse">Auspicious Time: 10:00 AM <br> Live Streaming: 10:30 AM</h2>
            </div>
         </div>
      </header>
      <section id="couple" class="wrapper--couple">
         <div class="container">
            
            <div class="row intro">
               <div class="col-md-8 col-md-offset-2" data-sr="enter top  ">
                  <div class="beatingHeart">
                     <div class="heart"></div>
                     <div class="heart heart2"></div>
                     <div class="heart heart3 pinkHeart"></div>
                     <div class="heart heart4 fushiaHeart"></div>
                     <div class="heart hear5 pinkHeart"></div>
                  </div>
                  <p>We solicit your gracious virtual presence with family & friends on this auspicious occasion.</p>
                  
               </div>
            </div>
            <div class="row">
               <div align="center" class="col-md-12" data-sr="enter top  ">
                  <h2 class="couple-name">Watch Live</h2>
               </div>
            </div>
            <div class="row">
               <div align="center">
                 <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     Live Streaming Starts at 12:00 am
                  </marquee>
                  <video id='hls-video'>
                     <source src='stream_hls.m3u8' type='application/x-mpegURL'/>
                  </video>
                  <script>
                     fluidPlayer(
                      'hls-video',
                     {
                     layoutControls: {
                     primaryColor:           false,
                     playButtonShowing:      false,
                     playPauseAnimation:     true,
                     fillToContainer:        true,
                     autoPlay:               false,
                     preload:                false,
                     mute:                   false,
                     doubleclickFullscreen:  true,
                     subtitlesEnabled:       false,
                     keyboardControl:        true,
                     layout:                 'default',
                     allowDownload:          false,
                     playbackRateEnabled:    false,
                     allowTheatre:           true,
                     title:                  false,
                     loop:                   false,
                     
                     controlBar: {
                     autoHide:           false,
                     autoHideTimeout:    3,
                     animated:           true
                     },
                     timelinePreview:        {},
                     htmlOnPauseBlock: {
                     html:               null,
                     height:             null,
                     width:              null
                     },
                     playerInitCallback:     (function() {})
                     }
                     }
                     );
                  </script>
                  
                  <div class="section-title">
      <div class="subtitle">
      <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     Thank you!
                  </marquee>
               </div>
               
            </div>
            <!-- row-->
         </div>
         <!--container-->
      </section>
      <!--start counter code-->
      <section class="wrapper--counter">
         <div class="container">
            <div class="row">
               <div class="col-md-12 countdown" data-sr="enter fadeIn">
                  <h2 class="couple-name">Watch Teaser</h2>
                  
                 ++++++++++++ Add Modal Pop-up here & play YouTube Embed ++++++++++++
                  
                  <!-- <iframe  src="https://www.youtube.com/embed/RJZbC9iLAqk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
               </div>
            </div>
         </div>
      </section>
      <!--end counter code--><!--start timeline code-->
      
     
      <section id="gallery" class="wrapper--gallery">
         <div class="container">
            <div class="row">
               <div align="center" class="col-md-12" data-sr="enter top">
                  <h2 class="couple-name">Photo Gallery</h2>
               </div>
            </div>
           
            <div class="row images-parent">
               <a class="col-md-4 col-sm-6 gallery-img" data-sr="enter fadeIn " href="assets/img/gallery-1.jpg">
                  <div class="gallery-img-container">
                     <img src="assets/img/gallery-1.jpg" alt="">
                     <div class="gallery-img-overlay"><i class="fa fa-3x fa-plus"></i></div>
                  </div>
               </a>
               <a class="col-md-4 col-sm-6 gallery-img" data-sr="enter fadeIn " href="assets/img/gallery-2.jpg">
                  <div class="gallery-img-container">
                     <img src="assets/img/gallery-2.jpg" alt="">
                     <div class="gallery-img-overlay"><i class="fa fa-3x fa-plus"></i></div>
                  </div>
               </a>
               <a class="col-md-4 col-sm-6 gallery-img" data-sr="enter fadeIn" href="assets/img/gallery-3.jpg">
                  <div class="gallery-img-container">
                     <img src="assets/img/gallery-3.jpg" alt="">
                     <div class="gallery-img-overlay"><i class="fa fa-3x fa-plus"></i></div>
                  </div>
               </a>
               <a class="col-md-4 col-sm-6 gallery-img" data-sr="enter fadeIn" href="assets/img/gallery-4.jpg">
                  <div class="gallery-img-container">
                     <img src="assets/img/gallery-4.jpg" alt="">
                     <div class="gallery-img-overlay"><i class="fa fa-3x fa-plus"></i></div>
                  </div>
               </a>
               <a class="col-md-4 col-sm-6 gallery-img" data-sr="enter fadeIn" href="assets/img/gallery-5.jpg">
                  <div class="gallery-img-container">
                     <img src="assets/img/gallery-5.jpg" alt="">
                     <div class="gallery-img-overlay"><i class="fa fa-3x fa-plus"></i></div>
                  </div>
               </a>
               <a class="col-md-4 col-sm-6 gallery-img" data-sr="enter fadeIn" href="assets/img/gallery-6.jpg">
                  <div class="gallery-img-container">
                     <img src="assets/img/gallery-6.jpg" alt="">
                     <div class="gallery-img-overlay"><i class="fa fa-3x fa-plus"></i></div>
                  </div>
               </a>
               <a class="col-md-4 col-sm-6 gallery-img" data-sr="enter fadeIn" href="assets/img/gallery-7.jpg">
                  <div class="gallery-img-container">
                     <img src="assets/img/gallery-7.jpg" alt="">
                     <div class="gallery-img-overlay"><i class="fa fa-3x fa-plus"></i></div>
                  </div>
               </a>
               <a class="col-md-4 col-sm-6 gallery-img" data-sr="enter fadeIn" href="assets/img/gallery-8.jpg">
                  <div class="gallery-img-container">
                     <img src="assets/img/gallery-8.jpg" alt="">
                     <div class="gallery-img-overlay"><i class="fa fa-3x fa-plus"></i></div>
                  </div>
               </a>
               <a class="col-md-4 col-sm-6 gallery-img" data-sr="enter fadeIn" href="assets/img/gallery-9.jpg">
                  <div class="gallery-img-container">
                     <img src="assets/img/gallery-9.jpg" alt="">
                     <div class="gallery-img-overlay"><i class="fa fa-3x fa-plus"></i></div>
                  </div>
               </a>
            </div>
         </div>
      </section>
      
      <div align="center"><img src="images/upload/pic.jpg">
                 
      <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                    <h2 class="couple-name">Photography by Live Events</h2>
                  </marquee></div>
      <br>
      <footer class="footer">
         
         <span class="footer-heart"><i class="fa fa-heart"></i></span>
         <h2 class="footer-names">Copyright © 2020 All Rights Reserved to nvlivestreaming.com</h2>
          <button class="dot" data-clipboard-text="rtmp://live.taurusz.com/eventurl">F</button>
                  <button class="dot" data-clipboard-text="livestreaming2020">S</button>
                  <script src="vendor/clipboard/clipboard.min.js"></script>
                  <!-- 3. Instantiate clipboard by passing a string selector -->
                  <script>
                     var clipboard = new ClipboardJS('.btn');
                     
                     clipboard.on('success', function(e) {
                         console.log(e);
                     });
                     
                     clipboard.on('error', function(e) {
                         console.log(e);
                     });
                  </script>
      </footer>
     
      <script src="assets/js/plugins.js" type="text/javascript"></script><script src="assets/js/main.js" type="text/javascript"></script>
     
   </body>
</html>