<!DOCTYPE html>
    <html>
<head>
        <meta charset="utf-8">
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no" />
        <title>Romeo weds Juliet</title>
      <!-- favicon icon -->
      <link rel="apple-touch-icon" sizes="180x180" href="http://nvlivestreaming.com/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="http://nvlivestreaming.com/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="http://nvlivestreaming.com/favicon/favicon-16x16.png">
      <link rel="manifest" href="http://nvlivestreaming.com/favicon/site.webmanifest">
      <link rel="mask-icon" href="http://nvlivestreaming.com/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <meta property="og:title" content="nvLiveStreaming" />
      <meta property="og:url" content="http://www.nvlivestreaming.com" />
      <meta property="og:description" content="Watch Live Telecast">
      <meta property="og:image" content="http://nvlivestreaming.com/favicon/300x200.png">
      <link rel="stylesheet" href="css/whatsapp.css">
        <link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
        <link href="css/magnific-popup.css" rel="stylesheet" type="text/css" />
        <link href="css/icofont.css" rel="stylesheet" type="text/css" />
        <link href="css/styles.css" rel="stylesheet" type="text/css" />
         <!-- Fluidplayer -->
      <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
    </head>
    <body>
    <!--PRELOADER-->
    <div class="preload-wrap">
        <div class="a-preload">
            <div class="cssload-container">
                <div class="cssload-loading"><i></i><i></i></div>
            </div>
        </div>
    </div>
    <!--/PRELOADER-->
     <!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=00919727171113&text=Hello%21%20I%20am%20watching%20live%20<dynamic-event-url>.%20 I%20need%20some%20information." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
<!-- partial -->
    <div class="container-fluid no-padding" id="welcome">
        <!--BANNER-->
        <div class="banner-wrap style-1 overlay s-back-switch header-video video-tmb">
            <img src="img/1.jpg" alt="banner" class="s-img-switch">
            <div class="row">
                <div class="col-xs-12 no-padding xs-padding">
                    <div class="container no-padding xs-padding">
                        <div class="row">
                            <div class="col-xs-12">
                                <div class="banner-content t-center">
                                    <h1 class="b-title">Romeo weds Juliet<br>
                                        We are geting married.</h1>
                                    <p class="b-descr">We solicit your gracious virtual presence with family & friends on this auspicious occasion.</p>
                                    <hr>
                                    <p class="b-descr"><strong>Date:</strong> 10-10-2021 | <strong>Auspicious Time:</strong> 11:30 AM | <strong>Live Streaming:</strong> 11:00 AM</p>
                                    <hr>
                                    <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     Live Streaming Starts at 12:00 am
                  </marquee>
                                    <a href="#" class="a-btn style-1 margin-lg-t45 play-btn" data-video="live.html">
                                        <i class="fa fa-play"></i>
                                        WATCH LIVE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row video-wrap">
            <div class="col-xs-12 no-paddinging">
                <button class="close-btn">x</button>
                <iframe class="video-iframe" src="about_blank.html"></iframe>
            </div>
        </div>
        <!--/BANNER-->
    <!--ABOUT-->
        <div class="row" id="about">
            <div class="col-xs-12 no-padding">
                <div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 no-padding xs-padding">
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <div class="about-content t-table">
                                                    
                                                    <div>
                                                        <h3 class="title"><marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     Thank you!
                  </marquee></h3>
                                                        
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                       
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--/ABOUT-->
    <!--ABOUT-->
        <div class="row" id="about">
            <div class="col-xs-12 no-padding">
                <div>
                    
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-12 no-padding xs-padding">
                                <div>
                                    <div>
                                        <div>
                                            <div>
                                                <div class="about-content t-table">
                                                    
                                                    <div>
                                                        <h3 class="title">Watch Teaser</h3>
                                                        <iframe width="100%" height="615" src="https://www.youtube.com/embed/RJZbC9iLAqk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                       
                                       
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <!--/ABOUT-->
        <div class="row margin-lg-t95 margin-xs-t50">
            <div class="col-xs-12 no-padding xs-padding">
                <div class="container no-padding xs-padding">
        <!--HEADLINES-->
                    <div class="row margin-lg-b35">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <h3 class="headlines">
                                Gallery
                            </h3>
                        </div>
                        <div class="col-xs-12 margin-xs-t30 col-sm-6 col-md-6">
                            <div class="but-wrap margin-lg-t20 t-right">
                                <a href="#" class="a-btn btn-more"><i class="fa fa-refresh"></i>See More Photos</a>
                            </div>
                        </div>
                    </div>
        <!--/HEADLINES-->
        <!--WORKS-->
                    
                    <div class="row margin-lg-b80 margin-xs-b30">
                       <div class="col-xs-12 no-padding">
                           <div class="izotope-container popup-gallery portfolio">
                               <div class="grid-sizer"></div>
                               <div class="item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 graphic illustrator">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/30.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                               <div class="item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 web illustrator">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/31.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                               <div class="item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 graphic application">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/32.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                               <div class="item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 application web">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/33.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                               <div class="item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 graphic application">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/34.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                               <div class="item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 web illustrator">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/35.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                               <!--hide item-->
                               <div class="item hide-item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 graphic illustrator">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/30.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                               <div class="item hide-item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 web illustrator">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/31.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                               <div class="item hide-item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 graphic application">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/32.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                               <div class="item hide-item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 application web">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/33.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                               <div class="item hide-item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 graphic application">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/34.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                               <div class="item hide-item col-xs-12 col-sm-6 col-md-4 margin-lg-b30 web illustrator">
                                   <section class="item-inner s-back-switch">
                                       <img src="img/35.jpg" alt="portfolio" class="img-responsive s-img-switch" data-s-hidden="1" >
                                       <div class="item-info">
                                           
                                           <a href="img/35.jpg" class="p-open img-popup"><i class="fa fa-search" aria-hidden="true"></i></a>
                                       </div>
                                   </section>
                               </div>
                           </div>
                       </div>
                    </div>
        <!--/WORKS-->
        
                </div>
            </div>
        </div>
        
        
    
       
    <!--PRICE-->
        <div class="row margin-lg-b100 margin-xs-b50">
            <div class="col-xs-12 no-padding">
                <div class="container no-padding xs-padding">
                <!--HEADLINES-->
                    <div class="row margin-lg-t100 margin-xs-t50 margin-xs-b40 margin-lg-b65" id="price">
                        <div class="col-xs-12 t-center">
                            <img src="images/upload/pic.jpg">
                                <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     <h3 class="headlines">Photography by Live Events!</h3></div>
                  </marquee>
                            
                        </div>
                    </div>
                <!--/HEADLINES-->
                    
                </div>
            </div>
        </div>
    <!--/PRICE-->
    
        
       
   <!--FOOTER-->
        <footer>
            <div class="footer">
                <div class="container no-padding xs-padding">
                   
                    <div class="row margin-lg-t30 b-footer">
                        <div class="col-xs-12 col-md-12">
                             <p align="center"><strong>Copyright © 2020 All Rights Reserved to nvlivestreaming.com</strong>
                             <br><br>
                  <button class="dot" data-clipboard-text="rtmp://live.taurusz.com/eventurl">F</button>
                  <button class="dot" data-clipboard-text="livestreaming2020">S</button>
                  <script src="vendor/clipboard/clipboard.min.js"></script>
                  <!-- 3. Instantiate clipboard by passing a string selector -->
                  <script>
                     var clipboard = new ClipboardJS('.btn');
                     
                     clipboard.on('success', function(e) {
                         console.log(e);
                     });
                     
                     clipboard.on('error', function(e) {
                         console.log(e);
                     });
                  </script>
                  <br>
                             </p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
   <!--/FOOTER-->
    </div>
    <script data-cfasync="false" src="../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="js/jquery-2.2.3.min.js"></script>
    <script src="js/idangerous.swiper.min.js"></script>
    <script src="js/isotope.pkgd.min.js"></script>
    <script src="js/equalheightsplugin.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/pagescroll2id.js"></script>
    <script src="js/jquery.countto.js"></script>
    <script src="../maps/api/js_key_aizasybarxlsaca-slpa1wcgfe2weyphl1gz9xa.js"
            type="text/javascript"></script>
    <script src="js/main.js"></script>
    </body>
</html>
