<html>
<head>
 <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>
</head>
<body>

<video id='hls-video'>
                              <source src='http://192.168.0.150:1935/nvlive/123456/playlist.m3u8?dvr' type='application/x-mpegURL'/>
                           </video>
                           <script>
                                 fluidPlayer(
                                  'hls-video',
                                 {
        layoutControls: {
            primaryColor:           false,
            playButtonShowing:      false,
            playPauseAnimation:     true,
            fillToContainer:        true,
            autoPlay:               false,
            preload:                false,
            mute:                   false,
            doubleclickFullscreen:  true,
            subtitlesEnabled:       false,
            keyboardControl:        true,
            layout:                 'default',
            allowDownload:          false,
            playbackRateEnabled:    false,
            allowTheatre:           true,
            title:                  false,
            loop:                   false,
            
            controlBar: {
                autoHide:           false,
                autoHideTimeout:    3,
                animated:           true
            },
            timelinePreview:        {},
            htmlOnPauseBlock: {
                html:               null,
                height:             null,
                width:              null
            },
            playerInitCallback:     (function() {})
        }
    }
);
                              </script>
                          
</body>
</html>