<!DOCTYPE html>
<html lang="en">
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="theme-color" content="#3ed2a7">

<title>Romeo weds Juliet</title>
      <!-- favicon icon -->
      <link rel="apple-touch-icon" sizes="180x180" href="http://nvlivestreaming.com/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="http://nvlivestreaming.com/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="http://nvlivestreaming.com/favicon/favicon-16x16.png">
      <link rel="manifest" href="http://nvlivestreaming.com/favicon/site.webmanifest">
      <link rel="mask-icon" href="http://nvlivestreaming.com/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <meta property="og:title" content="nvLiveStreaming" />
      <meta property="og:url" content="http://www.nvlivestreaming.com" />
      <meta property="og:description" content="Watch Live Telecast">
      <meta property="og:image" content="http://nvlivestreaming.com/favicon/300x200.png">
      <link rel="stylesheet" href="assets/css/whatsapp.css">
	  
	  <!-- Fluidplayer -->
      <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>

<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet">
<link rel="stylesheet" href="assets/vendors/liquid-icon/liquid-icon.min.css" />
<link rel="stylesheet" href="assets/vendors/font-awesome/css/font-awesome.min.css" />
<link rel="stylesheet" href="assets/css/theme-vendors.min.css" />
<link rel="stylesheet" href="assets/css/theme.min.css" />
<link rel="stylesheet" href="assets/css/themes/digital-creative.css" />

<script async src="assets/vendors/modernizr.min.js"></script>
</head>
<body data-mobile-nav-trigger-alignment="right" data-mobile-nav-align="left" data-mobile-nav-style="minimal" data-mobile-nav-shceme="gray" data-mobile-header-scheme="gray" data-mobile-nav-breakpoint="1199">
<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=00919727171113&text=Hello%21%20I%20am%20watching%20live%20<dynamic-event-url>.%20 I%20need%20some%20information." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
<!-- partial -->
<div id="wrap">

<main id="content" class="content">
<section class="vc_row fullheight d-flex flex-wrap align-items-stretch">
<div class="lqd-particles-bg-wrap" style="height: 400px;">
<div class="ld-particles-container">
<div class="ld-particles-inner" id="ld-1527244273759-519b63e0-a9d6" data-particles="true" data-particles-options='{"particles":{"shape":{"type":["triangle"]},"move":{"enable":true,"direction":"right","out_mode":"out","attract":{"enable":true}}},"interactivity":[]}'>
</div>
</div>
</div>
<div class="container d-flex align-items-stretch">
<div class="row d-flex flex-wrap align-items-stretch w-100">
<div class="lqd-column col-md-10 col-md-offset-1 py-8s bg-white d-flex flex-wrap align-items-center justify-content-center white-box-shadow">
<div class="lqd-column-inner w-100 text-center" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":26,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>
<h2 class="mt-4" data-split-text="true" data-split-options='{"type":"lines"}'>Romeo weds Juliet <br> <span class="text-secondary">We are getting married!</span></h2>
<video id='hls-video'>
                     <source src='stream_hls.m3u8' type='application/x-mpegURL'/>
                  </video>
                  <script>
                     fluidPlayer(
                      'hls-video',
                     {
                     layoutControls: {
                     primaryColor:           false,
                     playButtonShowing:      false,
                     playPauseAnimation:     true,
                     fillToContainer:        true,
                     autoPlay:               false,
                     preload:                false,
                     mute:                   false,
                     doubleclickFullscreen:  true,
                     subtitlesEnabled:       false,
                     keyboardControl:        true,
                     layout:                 'default',
                     allowDownload:          false,
                     playbackRateEnabled:    false,
                     allowTheatre:           true,
                     title:                  false,
                     loop:                   false,
                     
                     controlBar: {
                     autoHide:           false,
                     autoHideTimeout:    3,
                     animated:           true
                     },
                     timelinePreview:        {},
                     htmlOnPauseBlock: {
                     html:               null,
                     height:             null,
                     width:              null
                     },
                     playerInitCallback:     (function() {})
                     }
                     }
                     );
                  </script>
<div class="row">
<div class="lqd-column col-md-8 col-md-offset-2 px-3" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150", "startDelay": 120,"easing":"easeOutQuint","direction":"forward","initValues":{"translateY":26,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>
<marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     <p class="font-size-20 px-md-4 mb-md-7" data-split-text="true" data-split-options='{"type":"lines"}'>Live Streaming starts at 9</p>
                  </marquee>
<p class="font-size-20 px-md-4 mb-md-7" data-split-text="true" data-split-options='{"type":"lines"}'>We solicit your gracious virtual presence with family & friends on this auspicious occasion.</p>


<p class="font-size-13 text-uppercase ltr-sp-1 text-dark mt-90">Date: 10-06-2021 | Auspicious Time: 11:00 AM | Live Streaming: 11:00 AM</p>
<marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     <p class="font-size-20 px-md-4 mb-md-7" data-split-text="true" data-split-options='{"type":"lines"}'>Thank you!</p>
                  </marquee>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="vc_row pt-140 pb-120 bg-light">
<div class="container">
<div class="row d-flex flex-wrap align-items-center">
<div class="lqd-column col-lg-12" data-custom-animations="true" data-ca-options='{"triggerHandler":"inview","animationTarget":"all-childs","duration":"1200","delay":"150","easing":"easeOutQuint","direction":"forward","initValues":{"translateY":52,"opacity":0},"animations":{"translateY":0,"opacity":1}}'>
<header class="fancy-title mb-40">
<h2 class="mt-4" data-split-text="true" data-split-options='{"type":"lines"}'>Watch Teaser</h2>
</header>
<iframe width="100%" height="615" src="https://www.youtube.com/embed/RJZbC9iLAqk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
</div>
</div>

</div>
</div>
</section>



<section class="vc_row pt-150 pb-75">
<div class="container">
<div align="center">

<!-- CHAT CODE HERE -->

</div>
</div>
</section>



<section >
<div class="container">
<div class="row">
<div class="lqd-column col-xs-12">
<div class="carousel-container carousel-nav-floated carousel-nav-vertical carousel-nav-left carousel-nav-circle carousel-nav-solid carousel-nav-lg carousel-nav-shadowed ld-lp-carousel-filterable" data-filterable-carousel="true">
<div class="row">
<div class="lqd-column col-lg-5">
<header class="fancy-title mb-40">
<h2 class="mt-4">Photo Gallery</h2>
</header>


</div>
<div class="lqd-column col-lg-7">
<div class="carousel-items row" data-lqd-flickity='{ "filters": "#carousel-filter-1", "prevNextButtons": true, "navArrow": 1, "fullwidthSide": true, "navOffsets": { "nav": {"left": -10, "top": 200} } }'>
<div class="carousel-item col-sm-12 beauty business">
<article class="liquid-lp">
<figure class="liquid-lp-media">

<img src="assets/demo/latest-posts/lp-4.jpg" alt="Latest Post">

</figure>
</article>
</div>

<div class="carousel-item col-sm-12 travel">
<article class="liquid-lp">
<figure class="liquid-lp-media">

<img src="assets/demo/latest-posts/lp-5.jpg" alt="Latest Post">

</figure>
</article>
</div>

<div class="carousel-item col-sm-12 lifestyle">
<article class="liquid-lp">
<figure class="liquid-lp-media">

<img src="assets/demo/latest-posts/lp-6.jpg" alt="Latest Post">

</figure>
</article>
</div>

<div class="carousel-item col-sm-12 travel business">
<article class="liquid-lp">
<figure class="liquid-lp-media">

<img src="assets/demo/latest-posts/lp-7.jpg" alt="Latest Post">

</figure>
</article>
</div>

<div class="carousel-item col-sm-12 something-else">
<article class="liquid-lp">
<figure class="liquid-lp-media">

<img src="assets/demo/latest-posts/lp-4.jpg" alt="Latest Post">

</figure>
</article>
</div>

<div class="carousel-item col-sm-12 lifestyle beauty">
<article class="liquid-lp">
<figure class="liquid-lp-media">

<img src="assets/demo/latest-posts/lp-5.jpg" alt="Latest Post">

</figure>
</article>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>

<section class="vc_row overflow-hidden">
<div class="lqd-particles-bg-wrap" style="height: 400px;">
<div class="ld-particles-container">
<div class="ld-particles-inner" id="ld-1527244273759" data-particles="true" data-particles-options='{"particles":{"shape":{"type":["triangle"]},"move":{"enable":true,"direction":"right","out_mode":"out"}},"interactivity":[]}'>
</div>
</div>
</div>
<div class="container">
<div class="row">
<div class="lqd-column col-md-8 col-md-offset-2 text-center bg-white white-box-shadow pt-70 pb-50">
<div class="row">
<div class="col-md-10 col-md-offset-1">
<header class="fancy-title mb-40 px-3">

<div align="center"><img src="images/upload/pic.jpg">
                  <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     <h2 class="mt-4"><span class="text-secondary">Photography by Live Events!</span></h2>
                  </marquee>
                  </div>
</header>

</div>
</div>
</div>
</div>
</div>
</div>
</section>
</main>
<footer class="main-footer pt-100 pb-90">
<section>
<div class="container">
<div class="row d-md-flex flex-wrap align-items-center">
<div align="center" class="lqd-column col-md-12 col-sm-12">

<p class="font-size-16"><strong>Copyright © 2020 All Rights Reserved to nvlivestreaming.com</strong></p>
<br>
                  <button class="dot" data-clipboard-text="rtmp://live.taurusz.com/eventurl">F</button>
                  <button class="dot" data-clipboard-text="livestreaming2020">S</button>
                  <script src="vendor/clipboard/clipboard.min.js"></script>
                  <!-- 3. Instantiate clipboard by passing a string selector -->
                  <script>
                     var clipboard = new ClipboardJS('.btn');
                     
                     clipboard.on('success', function(e) {
                         console.log(e);
                     });
                     
                     clipboard.on('error', function(e) {
                         console.log(e);
                     });
                  </script>
</div>

</div>
</div>
</section>
</footer>
</div>
<script src="assets/vendors/jquery.min.js"></script>
<script src="assets/js/theme-vendors.js"></script>
<script src="assets/js/theme.min.js"></script>
<script src="assets/js/liquidAjaxMailchimp.min.js"></script>

</body>
</html>