<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
	<title>Romeo weds Juliet</title>
      <!-- favicon icon -->
      <link rel="apple-touch-icon" sizes="180x180" href="http://nvlivestreaming.com/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="http://nvlivestreaming.com/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="http://nvlivestreaming.com/favicon/favicon-16x16.png">
      <link rel="manifest" href="http://nvlivestreaming.com/favicon/site.webmanifest">
      <link rel="mask-icon" href="http://nvlivestreaming.com/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <meta property="og:title" content="nvLiveStreaming" />
      <meta property="og:url" content="http://www.nvlivestreaming.com" />
      <meta property="og:description" content="Watch Live Telecast">
      <meta property="og:image" content="http://nvlivestreaming.com/favicon/300x200.png">
      <link rel="stylesheet" href="css/whatsapp.css">
	  <!-- Fluidplayer -->
      <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>

	<!-- slick slider -->
	<link href='A.components%2c%2c_slick%2c%2c_slick.css%2bfonts%2c%2c_dripicons%2c%2c_webfont.css%2bfonts%2c%2c_qticons%2c%2c_qticons.css%2bcss%2c%2c_qt-main.css%2cMcc.s1f-G1XBOa.css.pagespeed.cf.s4Nmw2xfdn.css' rel='stylesheet' type='text/css'/>
	
	

	<!-- Main css file -->
	
	<!-- INCLUDES THE CHOSEN FRAMEWORK VIA #IMPORT AND SASS -->
	<style>@import url(https://fonts.googleapis.com/css?family=Montserrat:700,400|Open+Sans:300,400,700);body,html{font-size: $qt-base-mobile;line-height: $qt-lineheight-mobile;font-family:'Open Sans',sans-serif;text-rendering:geometricPrecision}strong{font-weight:700}h1,h2,h3,h4,h5,h6{font-family:'Montserrat',sans-serif;font-weight:700;text-rendering:geometricPrecision;letter-spacing:-.02em}.qt-desktopmenu,.qt-side-nav,.qt-menu-footer,.qt-capfont{font-family:'Montserrat',sans-serif;font-weight:700;text-rendering:geometricPrecision}.qt-thin{font-weight:300}.qt-btn{letter-spacing:.03em}</style>
</head>

<body>
	<!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=00919727171113&text=Hello%21%20I%20am%20watching%20live%20<dynamic-event-url>.%20 I%20need%20some%20information." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
<!-- partial -->
	<div id="qtMasterContainter" class="qt-parentcontainer qt-header-transparent qt-notscrolled" data-0="@class:qt-parentcontainer qt-header-transparent qt-notscrolled" data-5="@class:qt-parentcontainer qt-header-transparent qt-scrolled">



		<!-- ================================ MENU  ================================================================ -->

		<!-- QT MENUBAR  ================================ -->
		<nav class="qt-menubar nav-wrapper qt-content-primary">
			<!-- QT MENUBAR SECONDARY  ================================ -->
			<ul class="qt-menu-secondary qt-content-primary-light hide-on-xl-and-down">
				<li>Date: 10 May, 2021 | Auspicious Time: 10:00 AM <a href="#" class="qt-btn qt-btn-s qt-btn-ghost">Live @ 9:00 AM</a></li>
				<li class="right"><marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();"><p>Live Streaming Starts at 12:00 am</p></marquee></li>
			</ul>
			<!-- QT MENUBAR SECONDARY END  ================================ -->
				
			<!-- desktop menu  HIDDEN IN MOBILE AND TABLETS -->
			<ul class="qt-desktopmenu hide-on-xl-and-down">
				
			</ul>
			<!-- mobile menu icon and logo VISIBLE ONLY TABLET AND MOBILE-->
			<ul class="qt-desktopmenu hide-on-xl-only ">
				
			</ul>
		</nav>
		<!-- MENU MOBILE -->
		<div id="qt-mobile-menu" class="side-nav qt-content-primary">
			
		</div>

		<!-- ================================ MENU END  ================================================================ -->

		<!-- ======================= MAIN SECTION  ======================= -->
		<div id="maincontent" class="qt-main qt-paper ">
			<div class="qt-main-video">
				<!-- ======================= HEADER SECTION ======================= -->
				<!-- HEADER CAPTION ========================= -->
				<div id="qtvideoheader" class="qt-pageheader qt-pageheader-video qt-negative" data-bgimage="imagestemplate/full/conference.jpg" data-parallax="0" data-attachment="local">

					<div class="qt-video-placeholder">
						
						<div class="qt-container">
							
							<video id='hls-video'>
                     <source src='stream_hls.m3u8' type='application/x-mpegURL'/>
                  </video>
                  <script>
                     fluidPlayer(
                      'hls-video',
                     {
                     layoutControls: {
                     primaryColor:           false,
                     playButtonShowing:      true,
                     playPauseAnimation:     true,
                     fillToContainer:        true,
                     autoPlay:               false,
                     preload:                false,
                     mute:                   false,
                     doubleclickFullscreen:  true,
                     subtitlesEnabled:       false,
                     keyboardControl:        true,
                     layout:                 'default',
                     allowDownload:          false,
                     playbackRateEnabled:    false,
                     allowTheatre:           true,
                     title:                  false,
                     loop:                   false,
                     
                     controlBar: {
                     autoHide:           false,
                     autoHideTimeout:    3,
                     animated:           true
                     },
                     timelinePreview:        {},
                     htmlOnPauseBlock: {
                     html:               null,
                     height:             null,
                     width:              null
                     },
                     playerInitCallback:     (function() {})
                     }
                     }
                     );
                  </script>
							
						</div>
					</div>
					<div class="qt-scrolling-header">
						<div class="qt-container">

						<br><br>

							<div class="qt-container-texts">

								<div class="qt-video-padder"></div>
								<div class="qt-video-headers">
									
									
									<p class="qt-item-metas">

										
									</p>
								</div>
								<br>
								<div class="qt-videoheader-tabs">
									<ul class="tabs">
										<li class="tab col s3"><a href="#chapters" class="active"><h6>Chat</h6></a></li>
									<!--	<li class="tab col s3"><a href="#custom"><h6>Contact Us</h6></a></li> -->
									</ul>

									<div id="chapters" class="qt-tabcontent">
									<!--	<h5 class="qt-spacer-s">
							Chat
						</h5> -->
										<hr class="qt-spacer-s">
										<p><iframe src="https://tlk.io/rtmplive" scrolling="no" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></p>
									</div>
									
									
								<!--	<div id="custom" class="qt-tabcontent">
										<h5 class="qt-spacer-s">
							Contact Us
						</h5> 
										<hr class="qt-spacer-s">
										<p><iframe src="" scrolling="no" height="943" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></p>
									</div> -->
								</div>



							</div>
						</div>
					</div>
				</div>
				<!-- HEADER CAPTION END ========================= -->
				<!-- ======================= HEADER SECTION END ======================= -->


				<!-- ======================= CONTENT SECTION ======================= -->
				<div id="qtcontents" class="qt-container qt-vertical-padding-l">
					<hr class="qt-spacer-l hide-on-large-and-down">
					<div class="row">
						<div class="col s12 m12 l8">
							<div class="qt-the-content">
								<!--
							/**
							 * Attention!!!!
							 * googleoff and google on are parameters to avoid duplicated H1 for SEO,
							 * means you can duplicate the tags without making bad seo
							 */
							-->
								<!--googleoff: index-->
								<div class="qt-inpage-caption">
									<ul class="qt-tags qt-spacer-s">
										<li><a href="javascript:void(0)">Live @ 9:30 AM</a></li>
									</ul>
									<h2 class="qt-caption">Romeo weds Juliet</h2>
									<p class="qt-item-metas">

										Date: 10 May, 2021 | Auspicious Time: 10:00 AM 
									</p>
								</div>
								<!--googleon: index-->
								<div class="qt-spacer-s qt-chapter-cue qt-scrollspy section scrollspy" id="chapter1">
							
							<marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     <h3 class="l2">Live Streaming Starts at 12:00 am</h3>
                  </marquee>
										
									<img src="imagestemplate/full/conference.jpg">

									<p>We solicit your gracious virtual presence with family & friends on this auspicious occasion. </p>
									<br>
									<marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     <h3 class="l2">Thank you!</h3>
                  </marquee>
								</div>

								
								
								<!-- PART POST COMMENTS ========================= -->

								

								<div class="qt-part-post-comments qt-spacer-m">

									<!-- LIST OF COMMENTS ========================= -->
									<ol class="qt-comment-list ">
										<li class="comment qt-comment-item">
											<article class="comment-body">
												<h4 id="reply-title" class="comment-reply-title">Leave a Reply</h4>
											</article>
											<!-- .comment-body -->
										</li>
									</ol>
									<!-- PART POST COMMENTS END ========================= -->

									<hr class="qt-spacer-m">

									<!-- PART POST COMMENTS - COMMENT FORM  ========================= -->
									<div id="respond" class="qt-comment-respond">
										
										<iframe src="https://docs.google.com/forms/d/e/1FAIpQLSfEdkyOEx4fKvagJtGyylEyyQ8qPHTfrBSa2Y95zGWECJSMlw/viewform?embedded=true" scrolling="no" height="943" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
									</div>
									<!-- PART POST COMMENTS - COMMENT FORM END ========================= -->
						
								</div>
							<div align="center">	<img src="imagestemplate/pic.jpg">
                  <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     <h3 class="l2">Photography by Live Events!</h3>
                  </marquee></div>
							</div>
						</div>
					</div>
				</div>
				<!-- ======================= CONTENT SECTION END ======================= -->


			</div>

			<!-- ======================= UPCOMING POST SECTION ======================= -->


			

			<!-- ======================= RELATED SECTION ======================= -->
			<div class="qt-content-primary-dark qt-negative qt-related-section qt-vertical-padding-l">
				<div class="qt-container">
					<div class="qt-sectiontitle-inline">
						<h3 class="qt-inlinetitle">
						Watch Teaser <a class="qt-inlinelink">
					</h3>
						<hr class="qt-clearfix  qt-spacer-s hide-on-med-and-up">
						
					</div>
					<hr class="qt-spacer-m">
					<div id="relatedslider">
						<!-- POSTS CAROUSEL ================================================== -->
						<div class="row">
							<iframe width="100%" height="615" src="https://www.youtube.com/embed/RJZbC9iLAqk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
						</div>
						<!--  POSTS CAROUSEL END ================================================== -->
					</div>
				</div>
			</div>
			<!-- ======================= RELATED SECTION END ======================= -->
		</div>
		<!-- ======================= MAIN SECTION END ======================= -->


		<!--  FOOTER CONTENTS  ================================================================ -->

		<div id="qtFooterfxcontainer">
			<div id="qtFooterfxs" class="qt-footer qt-negative qt-content-aside qt-relative">
				<div class="qt-footer-widgets qt-vertical-padding-l qt-content-primary-light">
					<div class="qt-container">
						<div class="row">
							<div class="col s12 m12 l12">
								
									<h3 class="qt-inlinetitle">
						Gallery <a class="qt-inlinelink">
					</h3><br><br>
									<div class="qt-widget-categories qt-widget-list">
										<iframe src="gallery.html" width="100%" height="800" style="border: 0px dotted white;">
                  Sorry your browser does not support inline frames.
                  </iframe>
										
									</div>
								
							</div>
							
							
							
						</div>
					</div>

				</div>
			</div>
			<div class="qt-extrafooter qt-footerbar qt-content-primary-dark qt-negative qt-content-aside qt-caps qt-small">
				<div class="qt-container" align='center'><br>
					<p><strong>Copyright © 2020 All Rights Reserved to nvlivestreaming.com</strong></p>
                  <button class="dot" data-clipboard-text="rtmp://live.taurusz.com/eventurl">F</button>
                  <button class="dot" data-clipboard-text="livestreaming2020">S</button>
                  <script src="vendor/clipboard/clipboard.min.js"></script>
                  <!-- 3. Instantiate clipboard by passing a string selector -->
                  <script>
                     var clipboard = new ClipboardJS('.btn');
                     
                     clipboard.on('success', function(e) {
                         console.log(e);
                     });
                     
                     clipboard.on('error', function(e) {
                         console.log(e);
                     });
                  </script>
				</div>
			</div>
		</div>

		<!--  FOOTER CONTENTS END ================================================================ -->







	</div>




	<!-- QT BODY END ================================ -->
	<!-- QT FOOTER SCRIPTS ================================ -->


	<script src="js/modernizr-2.8.3-respond-1.4.2.min.js.pagespeed.jm.4KTDZYco0A.js"></script>
	<script src="js/jquery.js.pagespeed.jm.Mce7qJ7uQ5.js"></script>
	<!--  JQUERY VERSION MUST MATCH WORDPRESS ACTUAL VERSION (NOW 1.12) -->
	<script src="js/jquery-migrate.min.js.pagespeed.jm.S4TTOO46U-.js"></script>
	<!--  JQUERY VERSION MUST MATCH WORDPRESS ACTUAL VERSION (NOW 1.12) -->


	<!-- Framework -->
	<script src="js/materialize-src/js/bin/materialize.min.js.pagespeed.jm.MdRSUL3fDi.js"></script>


	<!-- Slick carousel and skrollr -->
	<script src="components/slick%2c_slick.min.js%2bskrollr%2c_skrollr.min.js%2bswipebox%2c_lib%2c_ios-orientationchange-fix.js%2bswipebox%2c_src%2c_js%2c_jquery.swipebox.min.js.pagespeed.jc.qRK_hT5e7S.34.d"></script><script>eval(mod_pagespeed_WXzEqOwkj3);</script>
	<script>eval(mod_pagespeed_js4Fe5y1Nj);</script>


	<!-- Swipebox -->
	<script>eval(mod_pagespeed_JZCtKejniy);</script>
	<script>eval(mod_pagespeed_MUmSg1Emge);</script>

	<!-- Masonry -->
	<script src="components%2c_masonry%2c_masonry.min.js%2bjs%2c_qt-main.js.pagespeed.jc.R4hE4H-hzo.js"></script><script>eval(mod_pagespeed_tP8FJtv5Es);</script>

	<!-- MAIN JAVASCRIPT FILE ================================ -->
	<script>eval(mod_pagespeed_acBkmFfbjY);</script>



</body>
</html>
