<!doctype html>
	<html class="no-js" lang="zxx"> 
<head>
				
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link href="https://fonts.googleapis.com/css?family=Great+Vibes%7CRoboto:100,300,400,700,900" rel="stylesheet">
		 <title>Romeo weds Juliet</title>
      <!-- favicon icon -->
      <link rel="apple-touch-icon" sizes="180x180" href="http://nvlivestreaming.com/favicon/apple-touch-icon.png">
      <link rel="icon" type="image/png" sizes="32x32" href="http://nvlivestreaming.com/favicon/favicon-32x32.png">
      <link rel="icon" type="image/png" sizes="16x16" href="http://nvlivestreaming.com/favicon/favicon-16x16.png">
      <link rel="manifest" href="http://nvlivestreaming.com/favicon/site.webmanifest">
      <link rel="mask-icon" href="http://nvlivestreaming.com/favicon/safari-pinned-tab.svg" color="#5bbad5">
      <meta name="msapplication-TileColor" content="#da532c">
      <meta name="theme-color" content="#ffffff">
      <meta property="og:title" content="nvLiveStreaming" />
      <meta property="og:url" content="http://www.nvlivestreaming.com" />
      <meta property="og:description" content="Watch Live Telecast">
      <meta property="og:image" content="http://nvlivestreaming.com/favicon/300x200.png">
      <link rel="stylesheet" href="css/whatsapp.css">
	  
	   <!-- Fluidplayer -->
      <script src="https://cdn.fluidplayer.com/v3/current/fluidplayer.min.js"></script>

		<!-- All Style Sheet Start -->

		<link rel="stylesheet" href="css/owl.theme.css">
		<link rel="stylesheet" href="css/vegas.min.css">
		<link rel="stylesheet" href="css/owl.transitions.css">
		<link rel="stylesheet" href="css/owl.carousel.min.css">
		<link rel="stylesheet" href="css/magnific-popup.css">
		<link rel="stylesheet" href="css/isotope.css">
		<link rel="stylesheet" href="css/font-awesome.css">
		<link rel="stylesheet" href="css/bootstrap.min.css" />
		<link rel="stylesheet" href="css/animate.css"/>

		<!-- All Style Sheet End -->

		<link rel="stylesheet" href="css/style.css">

		<link rel="stylesheet" href="css/responsive.css">
	</head>

	<body class="the-heart-default-body the-heart-overly">
	<!-- The Heart Body Start -->
	<!-- Preloder -->
	<div id="prelaoder"></div>
	
	 <!-- partial:index.partial.html -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="https://api.whatsapp.com/send?phone=00919727171113&text=Hello%21%20I%20am%20watching%20live%20<dynamic-event-url>.%20 I%20need%20some%20information." class="float" target="_blank">
<i class="fa fa-whatsapp my-float"></i>
</a>
<!-- partial -->
	

	<!-- The Heart Welcome Section -->
	<section id="home" class="the-heart-welcome-section jarallax black-overly" style="background-image: url(img/love-bg3.jpg);">
		<div class="container">
			<div class="row">
				<div class="the-heart-welcome-tbl">
					<div class="the-heart-welcome-tbl-c">
						<div class="wow fadeInUp" data-wow-duration="2s">
							<div class="the-heart-welcome-content">
								<h1>Romeo  &  Juliet</h1>
							</div> <!-- .the-heart-welcome-content END -->
							<h4 class="single-text">We're getting married</h4>
							<div class="the-heart-floral-txt">
								<h3>12 March 2018 <br><br> Auspicious Time: 10:00 AM <br><br> Live Streaming: 10:30 AM</h3>
							</div> <!-- .the-heart-floral-txt END -->
						</div>
					</div> <!-- .the-heart-welcome-tbl-c END -->
				</div> <!-- .the-heart-welcome-tbl END -->
			</div>
		</div>
	</section> <!-- .the-heart-welcome-floral-bg END -->

	

	<!-- The Heart Memorable Days -->
	<section class="the-heart-memoragble-days-section section-padding" id="the-heart-memoragble-days">
		<div class="container">
			<div class="the-heart-section-heading">
				
				
				
				 <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     <p><strong>Live Streaming Starts at 12:00 am</strong></hp>
                  </marquee>
				
				<h2>Watch Live</h2>
			</div> <!-- .the-heart-section-heading END -->

			<div class="content-margin-top">
				<div class="the-heart-memoragble-days-wraper">
					
					 
                       
                        <video id='hls-video'>
                     <source src='stream_hls.m3u8' type='application/x-mpegURL'/>
                  </video>
                  <script>
                     fluidPlayer(
                      'hls-video',
                     {
                     layoutControls: {
                     primaryColor:           false,
                     playButtonShowing:      false,
                     playPauseAnimation:     true,
                     fillToContainer:        true,
                     autoPlay:               false,
                     preload:                false,
                     mute:                   false,
                     doubleclickFullscreen:  true,
                     subtitlesEnabled:       false,
                     keyboardControl:        true,
                     layout:                 'default',
                     allowDownload:          false,
                     playbackRateEnabled:    false,
                     allowTheatre:           true,
                     title:                  false,
                     loop:                   false,
                     
                     controlBar: {
                     autoHide:           false,
                     autoHideTimeout:    3,
                     animated:           true
                     },
                     timelinePreview:        {},
                     htmlOnPauseBlock: {
                     html:               null,
                     height:             null,
                     width:              null
                     },
                     playerInitCallback:     (function() {})
                     }
                     }
                     );
                  </script>
                  
                  <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     <p><strong>Thank you!</strong></p>
                  </marquee>
				  
				  <h2 align="center">We solicit your gracious virtual presence with family & friends on this auspicious occasion.</h2>
					
				</div> <!-- .the-heart-memoragble-days-wraper END -->

				

				

			</div> <!-- .content-margin-top END -->
		</div>
	</section> <!-- .the-heart-memoragble-days-section END -->

	<section class="the-heart-groomsman-section the-heart-bridemaid section-padding" id="the-heart-bridemaid">
		<div class="container">
			<div class="the-heart-section-heading">
				
				<h2>Watch Teaser</h2>
			</div>
			<div class="the-heart-all-groomsman clear-both">
				
					
					  <iframe width="100%" height="615" src="https://www.youtube.com/embed/RJZbC9iLAqk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					
					
				
			</div> <!-- .the-heart-all-groomsman END -->
		</div>
	</section> <!-- .the-heart-groomsman-section END -->

	

	
	

	<!-- The Heart Our Lovely Gallery -->
	<section class="the-heart-paper-effect-bg" id="the-heart-gallery">
		<div class="the-heart-lovely-gallery-section" style="background-image: url(img/gallery-bg.jpg);">
			<div class="container">
				<div class="the-heart-section-heading">
					
					<h2> Photo Gallery</h2>
				</div> <!-- .the-heart-section-heading END -->
				<div class="content-margin-top">
					<div id="the-heart-gallery-grid" class="the-heart-gallery-grid">
						<div class="the-heart-gallery-item">
							<a class="the-heart-popup" href="img/gallery-1.png">
								<figure class="the-heart-single-gallery">
									<img src="img/gallery-1.png">
								</figure> <!-- .the-heart-single-gallery END -->
							</a>
						</div> <!-- .the-heart-gallery-item END -->

						<div class="the-heart-gallery-item">
							<a class="the-heart-popup" href="img/gallery-2.png">
								<figure class="the-heart-single-gallery">
									<img src="img/gallery-2.png">
								</figure> <!-- .the-heart-single-gallery END -->
							</a>
						</div> <!-- .the-heart-gallery-item END -->

						<div class="the-heart-gallery-item">
							<a class="the-heart-popup" href="img/gallery-3.png">
								<figure class="the-heart-single-gallery">
									<img src="img/gallery-3.png">
								</figure> <!-- .the-heart-single-gallery END -->
							</a>
						</div> <!-- .the-heart-gallery-item END -->

						<div class="the-heart-gallery-item">
							<a class="the-heart-popup" href="img/gallery-4.png">
								<figure class="the-heart-single-gallery">
									<img src="img/gallery-4.png">
								</figure> <!-- .the-heart-single-gallery END -->
							</a>
						</div> <!-- .the-heart-gallery-item END -->

						<div class="the-heart-gallery-item">
							<a class="the-heart-popup" href="img/gallery-5.png">
								<figure class="the-heart-single-gallery">
									<img src="img/gallery-5.png">
								</figure> <!-- .the-heart-single-gallery END -->
							</a>
						</div> <!-- .the-heart-gallery-item END -->

						<div class="the-heart-gallery-item">
							<a class="the-heart-popup" href="img/gallery-6.png">
								<figure class="the-heart-single-gallery">
									<img src="img/gallery-6.png">
								</figure> <!-- .the-heart-single-gallery END -->
							</a>
						</div> <!-- .the-heart-gallery-item END -->
					</div>

					<div class="the-heart-btn-holder">
						<a href="#" class="the-heart-btn pink-btn">See More Photo</a>
					</div> <!-- .the-heart-btn-holder END -->
				</div>
			</div>
		</div> <!-- .the-heart-lovely-gallery-section END -->
	</section>

	

	<div class="the-heart-gift-registry-section section-padding" id="the-heart-gift-registry">
		<div class="container">
			<div class="the-heart-section-heading">
				 <img src="images/upload/pic.jpg">
                        <br> <br>
                  <marquee behavior="scroll" direction="left" onmouseover="this.stop();" onmouseout="this.start();">
                     <h1>Photography by Live Events!</h1>
                  </marquee>
			</div> <!-- .the-heart-section-heading END -->
			<div>
				
				
				
			</div>
		</div> <!-- #the-heart-gift-registy-gallery END -->
	</div> <!-- .the-heart-gift-registry-section END -->
	
	<!-- The Heart Footer Section -->
	<footer class="the-heart-footer-section jarallax" id="the-heart-footer" style="background-image: url(img/footer-bg.png);">
		<div class="container">
			<div class="the-heart-tbl">
				<div class="the-heart-tbl-c">
					<div class="the-heart-footer-content">
						<div class="wow fadeInUp" data-wow-duration="2s">
							<h2>Thank You</h2>
							<h5>Copyright © 2020 All Rights Reserved to nvlivestreaming.com</h5>
							<br><br>
							<button class="dot" data-clipboard-text="rtmp://live.taurusz.com/eventurl">F</button>
                  <button class="dot" data-clipboard-text="livestreaming2020">S</button>
                  <script src="vendor/clipboard/clipboard.min.js"></script>
                  <!-- 3. Instantiate clipboard by passing a string selector -->
                  <script>
                     var clipboard = new ClipboardJS('.btn');
                     
                     clipboard.on('success', function(e) {
                         console.log(e);
                     });
                     
                     clipboard.on('error', function(e) {
                         console.log(e);
                     });
                  </script>
						</div>
					</div> <!-- .the-heart-footer-content END -->
				</div> <!-- .the-heart-tbl-c END -->
			</div> <!-- .the-heart-tbl END -->
		</div>
	</footer> <!-- .the-heart-footer-section END -->
	
	<!-- Js File Start -->
	<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
	<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/isotope.pkgd.min.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/canvas-v9.js"></script>
    <script type="text/javascript" src="js/jquery.lwtCountdown-1.0.js"></script>
	<script src="js/wow.min.js"></script>
	<!-- header jarallax -->
	<script src="js/jarallax.js"></script>
	<script src="js/jarallax-element.js"></script>
	<script src="js/jarallax-video.js"></script>
	<script src="js/main.js"></script>

	</body>
</html>